################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArtOfUnitTesting/v17/DocumentLayout.json
/.vs/ArtOfUnitTesting
